<header id="header">
	<h1>{{t todos.todos}}</h1>
	{{ input type="text" id="new-todo" class="form-control"  placeholderTranslation="todos.editInstructions" value=newTitle action="createTodo" }}

</header>

<section id="main">
	{{outlet}}

	{{input type="checkbox" id="toggle-all" checked=allAreDone}}

</section>

<footer id="footer">
	<span id="todo-count">
		<strong>{{remaining}}</strong> {{t todos.itemsLeft countBinding=remaining }} 
	</span>
	<ul id="filters">
		<li>
			{{#link-to "todos.index" activeClass="selected"}}{{t todos.all}}{{/link-to}}
		</li>
		<li>
			{{#link-to "todos.active" activeClass="selected"}}{{t todos.active}}{{/link-to}}
		</li>
		<li>
			{{#link-to "todos.completed" activeClass="selected"}}{{t todos.completed}}{{/link-to}}
		</li>
	</ul>

	{{#if hasCompleted}}
		<button id="clear-completed" {{action "clearCompleted"}}>
			{{t todos.clearCompleted countBinding=completed}} 
		</button>
	{{/if}}
</footer>